.zoom-container {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 2000;
}

.meeting-sdk-container,
.zm-modal,
body div[role="dialog"] {
  z-index: 2100 !important;
}

#root {
  position: relative;
  z-index: 1000;
}