.zoom-app {
  height: 100vh;
  overflow: visible;
}

.zoom-main {
  height: 100%;
  width: 100%;
}

#zmmtg-root {
  position: relative !important;
  z-index: 1000;
  height: 100% !important;
  width: 100% !important;
}